<p class="center"><strong>Setite {{ currentPage }} von {{ lastPage }} ({{elementsPerPage}} von {{totalElements}})</strong></p>
<ul ng-show="lastPage != 1" class="pagination">
	<li><a ng-click="paginate($event, 1)" ng-class="{'disabled': currentPage == 1}">&laquo;</a></li>
	<li><a ng-click="paginate($event, currentPage - 1)" ng-class="{'disabled': currentPage == 1}">&lsaquo;</a></li>
	<li ng-repeat="link in links">
		<a ng-bind="link" ng-click="paginate($event, link)" ng-class="{'active': link == currentPage}"></a>
	</li>
	<li><a ng-click="paginate($event, currentPage + 1)" ng-class="{'disabled': currentPage == lastPage}">&rsaquo;</a></li>
	<li><a ng-click="paginate($event, lastPage)" ng-class="{'disabled': currentPage == lastPage}">&raquo;</a></li>
</ul>